.global{
    margin-top: 1em;
    border: 2px #cccccc solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;
}

h1.title{
    font-size: 6em;
}

h1, h2, h3, h4{
    font-size: 3em;
    margin-bottom: 20px;
}

h2{
    font-size: 2.2em;
}
h3{
    font-size: 1.4em;
}
h4{
    font-size: 1em;
}

table.upload-form td, table.upload-form th{
    padding: 5px;
}

table.upload-form td.notes{
    color: #ccc;
}

table.upload-form th.label{
    vertical-align: top;
    background-color: #e4e4e4;
}

table.upload-form tr:hover{
    background-color: #e4e4e4;
}

.space-counting{
    font-size: 10px;
}
.indicator{
    margin-top: 5px;
    border: 1px solid blue;
    height: 10px;
    width: 100px;
}

.indicator .bar{
    height: 10px;
    background-color: blue;
}
