.global{
    margin-top: 1em;
    border: 2px #cccccc solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;
}

h1.title{
    font-size: 6em;
}

h1, h2, h3, h4{
    font-size: 3em;
    margin-bottom: 20px;
}

h2{
    font-size: 2.2em;
}
h3{
    font-size: 1.4em;
}
h4{
    font-size: 1em;
}
