<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/javascripts/jquery-1.5.min.js" type="text/javascript"></script>
        <script src="/javascripts/ninjabox.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/1020.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/ninjabox.css" />
        <title><!-- TMPL_VAR HTML_TITLE ESCAPE=HTML --></title>
    </head>
    <body>
        <div class="global container_12">
            <div class="header grid_12">
                <h1>NinjaBox</h1>
            </div>
            <div class="body grid_12">
                <!-- TMPL_VAR OUTPUT -->
            </div>
            <div class="footer grid_12">
                <h3>footer</h3>
            </div>

            <div class="clear"></div>
        </div>
    </body>
</html>
