<div class="grid_12">
    <!-- TMPL_VAR FORM_START -->
    <table border="0" cellpadding="0" cellspacing="0" class="form">
        <tr>
            <th class="label">File:</th>
            <td class="field"><!-- TMPL_VAR FILE_ID --></td>
            <td class="notes">required</td>
        </tr>
        <tr>
            <th class="label">Reason:</th>
            <td class="field"><!-- TMPL_VAR REASON --></td>
            <td class="notes">required</td>
        </tr>
        <tr>
            <th class="label">Phone:</th>
            <td class="field"><!-- TMPL_VAR PHONE --></td>
            <td class="notes"></td>
        </tr>
        <tr>
            <th class="label">Email:</th>
            <td class="field"><!-- TMPL_VAR EMAIL --></td>
            <td class="notes">required</td>
        </tr>
        <tr>
            <th class="label">Name:</th>
            <td class="field"><!-- TMPL_VAR NAME --></td>
            <td class="notes"></td>
        </tr>
    <tr>
        <td colspan="3"><!-- TMPL_VAR SUBMIT --></td>
    </tr>
    </table>
</form>
</div>
