<div class="grid_12" id="index">
    <!-- TMPL_IF FILES -->
    <table border="0" cellpadding="0" cellspacing="0" class="file-list">
        <thead>
            <tr>
                <th>name</th>
                <th>downloads</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <!-- TMPL_LOOP FILES -->
        <tr>
            <td><!-- TMPL_VAR NAME ESCAPE=HTML --></td>
            <td><!-- TMPL_VAR POPULARITY ESCAPE=HTML --></td>
            <td><a href="<!-- TMPL_VAR FILE_PATH -->" class="download-link" id="file-<!-- TMPL_VAR ID -->">download</a> - <!-- TMPL_VAR FILE_SIZE_IN_MB -->m <span class="size">(<!-- TMPL_VAR FILE_EXTENSION ESCAPE=HTML -->)</span></td>
        </tr>
        <!-- /TMPL_LOOP -->
    </table>

    <!-- TMPL_ELSE -->
    <h2>None yet.</h2>

    <!-- /TMPL_IF -->

    <div id="footer-controls">
        <a href="?rm=upload">Upload a new file</a>
    </div>
</div>
