<div class="grid_12">
<!-- TMPL_VAR FORM_START -->
<table border="0" cellpadding="5" cellspacing="0">
    <tr>
        <th class="label">Name:</td>
        <td class="field"><!-- TMPL_VAR NAME --></td>
        <td class="notes">optional</td>
    </tr>
    <tr>
        <th class="label">File:</td>
        <td class="field"><!-- TMPL_VAR FILE --></td>
        <td class="notes">required</td>
    </tr>
    <tr>
        <th class="label">Your Nickname:</th>
        <td class="field"><!-- TMPL_VAR NICK --></td>
        <td class="notes">optional</td>
    </tr>
    <tr>
        <th class="label">Comments:</th>
        <td class="field"><!-- TMPL_VAR COMMENTS --></td>
        <td class="notes">optional</td>
    </tr>
    <tr>
        <th class="label">License:</th>
        <td class="field"><!-- TMPL_VAR LICENSE --></td>
        <td class="notes">optional</td>
    </tr>
    <tr>
        <td colspan="3"><!-- TMPL_VAR SUBMIT --></td>
    </tr>
</table>

</form>
</div>
